<!DOCTYPE html>
<html>

<head>
	<meta chjarset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Classes</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
	<link rel="stylesheet" type="text/css" href="classes.css">
	<link rel="stylesheet" href="sidebar.css" />
	<!-- <link rel="stylesheet" href="style.css" /> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
	<%- include('sidebar.ejs') %>
		<div class="main--content">
			<%- include('header-wrapper.ejs') %>

			<div>
				<button id="add-new-class-button" name="add-new-class-button">Post a new class</button>
			</div>
			<div class="card--container">

				<ul style="list-style: none;">
					<% data.forEach(element=> { %>
						<li>
							<div>
								<p>
									<div class="card--wrapper">
										<div class="card light-blue">

											<table>
												<tr>
													<td class="Fields">Topic:</td>
													<td><%= element.topic %></td>
												</tr>
												<tr>
													<td class="Fields">Teacher:</td>
													<td><%= element.teacher %></td>
												</tr>
												<tr>
													<td class="Fields">Medium:</td>
													<td>
														<% if (element.online===1) { %>
															<%= 'Online' %>
															<% } else { %>
															<%= 'Offline' %>
															<%}%>
													</td>
												</tr>
												<tr>
													<td class="Fields"><% if (element.online===1) { %>
														<%= 'Link:' %>
														<% } else { %>
														<%= 'Address:' %>
														<%}%></td>
													<td><%= element.address %></td>
												</tr>
												<tr>
													<td class="Fields">Date:</td>
													<td><%= element.date %></td>
												</tr>
												<tr>
													<td class="Fields">Time:</td>
													<td><%= element.time %></td>
												</tr>
											</table>
										</div>
									</div>
									<%})%>
								</p>
							</div>
						</li>
				</ul>

				<div id="overlay-in-new-class" class="modal-overlay"></div>

				<div id="new-class" class="modal">
					<span id="close">&times;</span>
					<div id="new-class-content">
						<h2>Post a new class</h2>
						<form id="new-class-form" name="new-class-form" action="/new-class" method="post">
							<div class="input-box">
								<input type="text" id="topic" name="topic" required>
								<label>Topic</label>
								<label class="error" for="topic"></label>
							</div>
							<div class="input-box">
								<input type="text" id="teacher" name="teacher" required>
								<label>Teacher</label>
								<label class="error" for="teacher"></label>
							</div>
							<div class="input-box">
								<select id="medium" name="medium" required>
									<option value="">--Select One--</option>
									<option value="Online">Online</option>
									<option value="Offline">Offline</option>
								</select>
								<label>Type</label>
								<label class="error" for="medium"></label>
							</div>
							<div class="input-box">
								<label for="address-link">Address/Link</label>
								<input type="text" id="address_link" name="address_link" required>
								<label class="error" for="address_link"></label>
							</div>
							<div class="input-box">
								<label>Date</label>
								<input type="date" id="class_date" name="class_date" required>
								<label class="error" for="class_date"></label>
							</div>
							<div class="input-box">
								<label>Time</label>
								<input type="time" id="class_time" name="class_time" required>
								<label class="error" for="class_time"></label>
							</div>
							<label for="address">Address</label>
							<div id="class-address">
								<textarea id="address" required></textarea>
								<label class="error" for="address"></label>
							</div>

							<div>
								<button type="submit" id="new_class_submit_button" name="new_class_submit_button" class="btn">
									Done
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="classes.js"></script>
</body>

</html>