<ul style="list-style: none;">
    <% data.forEach(element=> { %>
        <li>
            <div>
                <p>
                    Topic: <%= element.topic %>
                    <br>
                    Teacher: <%= element.teacher %>
                    <br>
                    Date: <%= element.date %>
                     <br>
                    Time: <%= element.time %>
                    <br>
                    Medium: <% if (element.online===1) { %>
                        <%= 'Online' %>
                            <% } else { %>
                                <%= 'Offline' %>
                                    <%}%>
                                        <%})%>
                </p>
            </div>
        </li>
</ul>