
    <div class="salat-time">
		
		<table class="tg">
			<tr>
				<th class="tg-0lax">Salah</th>
				
				<th class="tg-0lax">Time to start</th>
			</tr>
			<tr>
				<td class="tg-0lax">Fazr</td>
				
				<td class="tg-0lax"><%= data.Fazr %></td>
			</tr>
			<tr>
				<td class="tg-0lax">Sunrise</td>
				
				<td class="tg-0lax"><%= data.Sunrise %></td>
			</tr>
			<tr>
				<td class="tg-0lax">Zuhr</td>
				
				<td class="tg-0lax"><%= data.Zuhr %></td>
			</tr>
			<tr>
				<td class="tg-0lax">Asr</td>
			
				<td class="tg-0lax"><%= data.Asr %></td>
			</tr>
			<tr>
				<td class="tg-0lax">Magrib</td>
				
				<td class="tg-0lax"><%= data.Maghrib %></td>
			</tr>
			<tr>
				<td class="tg-0lax">Isha</td>
				
				<td class="tg-0lax"><%= data.Isha %></td>
			</tr>
		</table>
	</div>
