<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Classes</title>
    <meta charset="UTF-8">

    <%- include('head-include.ejs') %>

    <link rel="stylesheet" type="text/css" href="stylesheets/classes.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/class-list-item.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/search.css">
</head>

<body>
<%- include('sidebar.ejs') %>
<div class="main--content">
    <%- include('header-wrapper.ejs',{name: "Events"}) %>
   <div class="search">
    <div class="searchbar">
        <%- include('search/searchbar.ejs') %>
    </div>
    <div class="search-filter">

        <%- include('search/search-filter.ejs') %>
    </div>
    <div class="online-offline-filter">
        <%- include('search/online-offline-filter.ejs') %>
    </div>
   </div>

    <div>
        <button id="add-new-class-button" name="add-new-class-button">Post a new class</button>
    </div>
    <div class="card--container">

        <ul style="list-style: none;">
            <% data.forEach(element => { %>
                <li>
                    <div class="class-list-item">
                        <table class="info-table">
                            <tr>
                                <td class="key">Topic</td>
                                <td class="value"><%= element.topic %></td>
                            </tr>
                            <tr>
                                <td class="key">Teacher</td>
                                <td class="value"><%= element.teacher %></td>
                            </tr>
                            <tr>
                                <td class="key">Medium</td>
                                <td class="value"><%= element.online === 1 ? "Online" : "Offline" %></td>
                            </tr>
                            <tr>
                                <td class="key"><%= element.online === 1 ? "Link" : "Address" %></td>
                                <td class="value">
                                    <% if (element.online === 1) { %>
                                    <a href="<%= element.address %>" target="_blank"><%= element.address %></a>
                                    <% } else { %>
                                        <%= element.address %>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="key">Date</td>
                                <td class="value"><%= element.date %></td>
                            </tr>
                            <tr>
                                <td class="key">Time</td>
                                <td class="value"><%= element.time %></td>
                            </tr>
                        </table>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
    <%- include("new-class-modal.ejs") %>
</div>
<script src="javascripts/classes.js"></script>
<script src="javascripts/class-list-item.js"></script>
<script src="javascripts/gelocation-and-prayertime.js"></script>
</body>

</html>