<!DOCTYPE html>
<html lang="en">

<head>
    <title>DashBoard</title>

    <%- include('head-include.ejs') %>

        <link rel="stylesheet" href="stylesheets/dash.css" />
        <link rel="stylesheet" href="stylesheets/sidebar.css" />
</head>

<body>

    <%- include('sidebar.ejs') %>
        <div class="main--content">

            <%- include('header-wrapper.ejs',{name: "Dashboard" }) %>

                <div class="card--container" style=" background: #d5e3ec;">
                    <div class="doa">
                        <h3 class="dua-today">Today's Du'a</h3>
                        <h2 class="doa-arab">رَبَّنَآ ءَاتِنَا فِي ٱلدُّنۡيَا حَسَنَةٗ وَفِي ٱلۡأٓخِرَةِ حَسَنَةٗ
                            وَقِنَا عَذَابَ ٱلنَّارِ</h2>
                        <div class="doa-meaning">Our Lord, give us in this world [that which is] good and in the
                            Hereafter
                            [that which is] good and protect us from the punishment of the Fire.</div>
                        <div class="doa-src">[Sura Baqara, Ayat 201]</div>
                    </div>


                    <h3 class="main-title">Upcoming Classes</h3>
                         <div class="card-wrapper">
                            <% if (data && data.length == 1) { %>
                                <div class="card light-blue">
                                    <span class="card-detail"><%= data[0].topic %></span>
                                    <span class="normal">Teacher: <%= data[0].teacher %></span>
                                    <span class="normal">Medium: <%= data[0].online === 1 ? "Online" : "Offline" %></span>
                                    <span class="normal"><%= data[0].online === 1 ? "Link" : "Address" %>: <% if (data[0].online === 1) { %>
                                        <a href="<%= data[0].address %>" target="_blank"><%= data[0].address %></a>
                                        <% } else { %>
                                            <%= data[0].address %>
                                        <% } %></span>
                                    <span class="normal">Date: <%= data[0].date %></span>
                                    <span class="normal">Time: <%= data[0].time %></span>

                                </div>
                                <div class="card light-blue">
                                    <span class="card-detail">No scheduled class</span>
                                </div>
                            <% } else if (data && data.length >=2) {  %>
                                <div class="card light-blue">
                                    <span class="card-detail"><%= data[0].topic %></span>
                                    <span class="normal">Teacher: <%= data[0].teacher %></span>
                                    <span class="normal">Medium: <%= data[0].online === 1 ? "Online" : "Offline" %></span>
                                    <span class="normal"><%= data[0].online === 1 ? "Link" : "Address" %>: <% if (data[0].online === 1) { %>
                                        <a href="<%= data[0].address %>" target="_blank"><%= data[0].address %></a>
                                        <% } else { %>
                                            <%= data[0].address %>
                                        <% } %></span>
                                    <span class="normal">Date: <%= data[0].date %></span>
                                    <span class="normal">Time: <%= data[0].time %></span>

                                </div>
                                <div class="card light-blue">
                                    <span class="card-detail"><%= data[1].topic %></span>
                                    <span class="normal">Teacher: <%= data[1].teacher %></span>
                                    <span class="normal">Medium: <%= data[1].online === 1 ? "Online" : "Offline" %></span>
                                    <span class="normal"><%= data[1].online === 1 ? "Link" : "Address" %>: <% if (data[1].online === 1) { %>
                                        <a href="<%= data[1].address %>" target="_blank"><%= data[1].address %></a>
                                        <% } else { %>
                                            <%= data[1].address %>
                                        <% } %></span>
                                    <span class="normal">Date: <%= data[1].date %></span>
                                    <span class="normal">Time: <%= data[1].time %></span>

                                </div>
                                <% } else  {  %>
                                <!-- Handle the case where data is undefined or doesn't have enough elements -->
                                <div class="card light-blue">
                                    <span class="card-detail">No scheduled class</span>
                                </div>
                                <div class="card light-blue">
                                    <span class="card-detail">No scheduled class</span>
                                </div>
                            <% } %>
                        </div>
                        <h3 class="main-title">Today's Prayer Times</h3>
                        <div class="wrapped"> 
                            <div class="card light-pink">
                                <span class="card-detail1">Fazr</span>
                                <span class="norm">5:17 am</span>
                            </div>
                            <div class="card light-pink">
                                <span class="card-detail1">Zuhr</span>
                                <span class="norm">11:48 am</span>
                            </div>
                            <div class="card light-now">
                                <span class="card-detail1">Asr</span>
                                <span class="norm">2:52 pm</span>
                            </div>
                            <div class="card light-pink">
                                <span class="card-detail1">Magrib</span>
                                <span class="norm">5:12 pm</span>
                            </div>
                            <div class="card light-pink">
                                <span class="card-detail1">Isha</span>
                                <span class="norm">6:18 pm</span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <script src="javascripts/gelocation-and-prayertime.js"></script>
</body>

</html>