<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Forum</title>
    <meta charset="UTF-8">

    <%- include('head-include.ejs') %>

        <link rel="stylesheet" type="text/css" href="stylesheets/forum.css">

</head>

<body>

    <%- include('sidebar.ejs') %>
        <div class="main--content">
            <%- include('header-wrapper.ejs',{name: "Forum" }) %>
                <div>
                    <form id="postForm" name="postForm" action="/new-post" method="post">
                        <textarea type="input" id="contentInput" name="paiso" placeholder="What is on your mind?"
                            required></textarea>
                        <label class="error" for="contentInput"></label>
                        <button type="submit" id="submitBtnPost" name="submitBtnPost">Create Post</button>
                    </form>
                </div>



                <div class="card--container" style=" background: #d5e3ec;">

                    <ul style="list-style: none; display: flex; flex-direction: column; align-items: center;">
                        <% data.forEach(post=> { %>
                            <li id="<%= post.post_id %>">
                                <div class="post" id=<%=post.post_id %> >
                                    <p class="post-id" id="name_user" name="name_user">
                                        <i class="fa-solid fa-user" style="color: #1b3852;"></i>
                                        <span class="user-name" style="vertical-align: bottom;">
                                            <%= post.user_name %>
                                        </span>
                                    </p>
                                    <p class="post-time" id="time_post" style="font-size: 13px;">
                                        <%= post.time %>,<%= post.date %>
                                    </p>
                                    <!-- <p class="post-date" id="date_post">
                                        <%= post.date %>
                                    </p> -->
                                    <p class="post-content">
                                        <%= post.topic %>
                                    </p>

                                    <div class="comment-section">
                                        <label class="show-comments" data-postid="<%= post.post_id %>">Show comments</label>
                                        <ul class="comment-list hidden-comments" id="commentList<%= post.post_id %>" >
                                            <% post.comments.forEach(comment=> { %>
                                                <li>
                                                    <div class="comment">
                                                        <p class="comment-id" id="name_commenter" name="name_commenter">

                                                            <i class="fa-solid fa-user" style="color: #1b3852;"></i>
                                                            <span class="user-name1" style="vertical-align: bottom;">
                                                                <%= comment.user_name %>
                                                                </span>
                                                        </p>
                                                        <p class="comment-date" id="date_comment"
                                                            style="font-size: 13px;">
                                                            <%= comment.time %>, <%= comment.date %>
                                                        </p>
                                                        <p class="comment-content">
                                                            <%= comment.comment_text %>
                                                        </p>
                                                    </div>
                                                </li>
                                                <% }) %>

                                        </ul>
                                    </div>

                                    <div>
                                        <form id="postComment" name="postComment"
                                            action="/new-comment/<%= post.post_id %>" method="post">
                                            <textarea type="input" id="commented" name="commented" required
                                                placeholder="Add a comment"></textarea>
                                            <label class="error" for="commented"></label>
                                            <button type="submit" id="submitComment"
                                                name="submitComment">Comment</button>
                                        </form>
                                    </div>
                                    <div
                                    <% if(currentUserID !== post.user_id) { %>
                                        class="option-buttons hidden"
                                    <% } else { %>
                                        class="option-buttons"
                                            <% } %>
                                    >
                                        <button class="delete-button">Delete</button>
                                    </div>

                                </div>
                            </li>
                            <% }) %>
                    </ul>
                </div>
        </div>
        <script src="javascripts/forum.js"></script>
       

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var showCommentsLabels = document.querySelectorAll('.show-comments');

        showCommentsLabels.forEach(function(label) {
            label.addEventListener('click', function() {
                toggleComments(label.dataset.postid);
            });
        });
    });

    function toggleComments(postId) {
        var commentList = document.getElementById("commentList" + postId);
        commentList.classList.toggle("hidden-comments");
    }
</script>




</body>

</html>