
    <div class="salat-time">
		<table class="tg">
			<tr class="notBottom">
				<th class="header">Prayer</th>
				
				<th class="header">Time to start</th>
			</tr>
			<tr class="notBottom is-selected">
				<td class="tg-0lax">Fajr</td>
				
				<td class="tg-0lax" id="fajr-time"><%= data.Fajr %></td>
			</tr>
			
			<tr class="notBottom">
				<td class="tg-0lax">Dhuhr</td>
				
				<td class="tg-0lax" id="dhuhr-time"><%= data.Dhuhr %></td>
			</tr>
			<tr class="notBottom">
				<td class="tg-0lax">Asr</td>
			
				<td class="tg-0lax" id="asr-time"><%= data.Asr %></td>
			</tr>
			<tr class="notBottom">
				<td class="tg-0lax">Maghrib</td>
				
				<td class="tg-0lax" id="maghrib-time"><%= data.Maghrib %></td>
			</tr>
			<tr>
				<td class="tg-0lax">Isha</td>
				
				<td class="tg-0lax" id="isha-time"><%= data.Isha %></td>
			</tr>
		</table>
	</div>
