
    <div class="salat-time">
		<table class="tg">
			<tr>
				<th class="tg-0lax">Salah</th>
				
				<th class="tg-0lax">Time to start</th>
			</tr>
			<tr>
				<td class="tg-0lax">Fajr</td>
				
				<td class="tg-0lax" id="fajr-time"><%= data.Fajr %></td>
			</tr>
			
			<tr>
				<td class="tg-0lax" id="dhuhr-time">Dhuhr</td>
				
				<td class="tg-0lax"><%= data.Dhuhr %></td>
			</tr>
			<tr>
				<td class="tg-0lax">Asr</td>
			
				<td class="tg-0lax" id="asr-time"><%= data.Asr %></td>
			</tr>
			<tr>
				<td class="tg-0lax">Maghrib</td>
				
				<td class="tg-0lax" id="maghrib-time"><%= data.Maghrib %></td>
			</tr>
			<tr>
				<td class="tg-0lax">Isha</td>
				
				<td class="tg-0lax" id="isha-time"><%= data.Isha %></td>
			</tr>
		</table>
	</div>
