<!DOCTYPE html>
<html lang="en">

<head>
	<title>Prayer Times</title>
	<%- include('head-include.ejs') %>
	<link rel="stylesheet" type="text/css" href="stylesheets/prayertimes.css">
</head>

<body>
	<%- include('sidebar.ejs') %>
		<div class="main--content">
			<%- include('header-wrapper.ejs') %>
				<div class="card--container" id="prayer-time-container">
					<h3 class="main--title" id="prayer-time-location">
						<%=data.location%>
					</h3>
					<%- include('PrayerTable.ejs') %>
				</div>
		</div>
</body>

</html>