<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
    <div class="salat-time">
		<table class="tg">
			<tr>
				<th class="tg-0lax">Salah</th>
				
				<th class="tg-0lax">Time to start</th>
			</tr>
			<tr>
				<td class="tg-0lax">Fajr</td>
				
				<td class="tg-0lax"><%= data.Fajr %></td>
			</tr>
			
			<tr>
				<td class="tg-0lax">Dhuhr</td>
				
				<td class="tg-0lax"><%= data.Dhuhr %></td>
			</tr>
			<tr>
				<td class="tg-0lax">Asr</td>
			
				<td class="tg-0lax"><%= data.Asr %></td>
			</tr>
			<tr>
				<td class="tg-0lax">Maghrib</td>
				
				<td class="tg-0lax"><%= data.Maghrib %></td>
			</tr>
			<tr>
				<td class="tg-0lax">Isha</td>
				
				<td class="tg-0lax"><%= data.Isha %></td>
			</tr>
		</table>
	</div>
