<!DOCTYPE html>
<html lang="en">

<head>
    <title>Prayer Times</title>
    <%- include('head-include.ejs') %>
    <link rel="stylesheet" type="text/css" href="stylesheets/prayertimes.css">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
<%- include('sidebar.ejs') %>
<div class="main--content">
    <%- include('header-wrapper.ejs',{name: "Prayer Times"}) %>
    <div class="card--container" id="prayer-time-container" style="display: flex; flex-direction: row;">
        <div style="display: flex; flex-direction: column; align-items: center" id="prayer-time-content">
            <div class="" id="prayer-time-location">
                <label class="prayer-time-location-select">
                    City:
                    <select class="city-list">
                        <option>
                            <%= `${location.city}`%>
                        </option>
                    </select>
                </label>
                <label class="prayer-time-location-select">
                    Country:
                    <select class="country-list">
                        <option>
                            <%=`${location.country}`%>
                        </option>
                    </select>
                </label>
            </div>
            <%- include('PrayerTable.ejs') %>
        </div>
        <div style="margin: 200px 30px 30px 200px">
            <%- include('mini-calendar/mini-calendar.ejs') %>
        </div>
    </div>
</div>
</body>
<script src="javascripts/prayer-times.js"></script>
<script src="javascripts/gelocation-and-prayertime.js"></script>
<script src="javascripts/utility.js"></script>
</html>